@model GP.Domain.Entities.Chauffeur

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chauffeur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TauxBenefice" class="control-label"></label>
                <input asp-for="TauxBenefice" class="form-control" />
                <span asp-validation-for="TauxBenefice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="voitureFK" class="control-label"></label>
                <select asp-for="voitureFK" class="form-control" asp-items="ViewBag.voitureFK">
                    <option>Select an Item</option>
                </select>
                <span asp-validation-for="voitureFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

